<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">

  </head>
  <body>
    <div class="container">

      <!-- Header -->
      <header class="site-header">
        <div class="author-info">
          <div class="author-details">
            <p class="author-name">Author : {{ page.author }}</p>
                 {% if page.linkedin_profile %}
      <p class="linkedin-link">
        <a href="{{ page.linkedin_profile }}" class="linkedin" target="_blank" rel="noopener noreferrer">
          <i class="bx bxl-linkedin"></i>
        </a>
      </p>
      {% endif %}
            <p class="publish-date">Published on : {{ page.date }}</p>
          </div>
        </div>
      </header>

      <!-- Main Content -->
      <main class="site-content">
        {{ content }}
      </main>

      <!-- Footer -->
      <footer class="site-footer">
        <p></p>
      </footer>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    mermaid.initialize({ startOnLoad: true });
  });
</script>
  </body>
</html>
